/*
fonts
font-family: 'Alfa Slab One', cursive;
font-family: 'Droid Sans', sans-serif;
font-family: 'Aldrich', sans-serif;
*/

.container{
	background-color: #000;
}

.top-bar{
	height: 95px;
}

.title-area{
	width: 282px;
}

.name{
	padding-left: 45px;
}

.loginRef{
	margin-right: 15px;
	margin-top: 10px;
	color: #ccc;
}

.loginLink{
	margin-top: 10px;
}

.loginLink ul{
	display: block;
}

.loginLink ul li{
	text-decoration: none;
}

#decode{
	color: #3485A3;
	font-family: 'Aldrich', sans-serif;
	font-size: 40px;
}

#station{
	color: #555557;
	font-family: 'Alfa Slab One', Times, serif;
	font-size: 40px;
	display: block;
}

#sidebar{
	padding-top: 10px;
}

#leftControls{
	float: left;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#rightControls{
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}

#stop img, #camera img{
	width: 50px;
	height: 50px;
}

#play img, #pause img{
	width: 35px;
	height: 35px;
}

#record img, #volume img, #mic img{
	width: 20px;
	height: 20px;
}

#camera img{
	width: 40px;
	height: 40px;
}


#stop:hover img, #camera:hover img, #play:hover img, #record:hover img, #volume:hover img, #mic:hover img, #pause:hover img{
	background-color: #F6DC10;
	height: 55px;
	width: 40px;
	padding: 1px;
}


.video{
	background-color: #8E8E8E;
	width: 640px;
	height: 55px;
	margin-bottom: 10px;
}

.timeline{
	float: left;
	width: 405px;
	padding-left: 15px;
	padding-top: 10px;
}

#scrubbber a img{
	position: relative;
	z-index: 999;
}

.userCom img{
	float: left;
	padding-right: 5px;
	width: 50px;
	height: 50px;
	padding-bottom: 10px;
}

.usercom div{
	padding-bottom: 100px;
}

.panel{
	width: 640px;
	min-height: 40px;
}

input[type="text"],
#msgarea {
    width:640px;
    padding: 0;
    border: 1px solid #ccc;
}

.commentBtn{
	margin-left: 553px;
	margin-top: 5px;
}

  
/*.progress-bar > span {
  background-color: yellow;
  border-radius: 2px;

  display: block;
  text-indent: -9999px;
}*/